<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuecheng.manage_course.dao.TeachplanMapper"><!--接口名-->
    <!--返回结果(id和下面查询语句resultMap对应)  type返回值类型-->
    <resultMap id="teachplanMap" type="com.xuecheng.framework.domain.course.ext.TeachplanNode">
        <id column="one_id" property="id"></id>
        <result column="one_pname" property="pname"></result>
        <!--resultmap是自定义的,返回值比较灵活,想要什么值配置就行了  resultType返回值数据需要存在这种类型的类去接收-->
        <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
            <id column="two_id" property="id"></id><!--id主键id-->
            <result column="two_pname" property="pname"></result><!--其它字段  column要传过去的字段参数   property类中的属性名-->
            <collection property="children" ofType="com.xuecheng.framework.domain.course.ext.TeachplanNode">
                <id column="three_id" property="id"></id>
                <result column="three_pname" property="pname"></result>
                <result column="media_id" property="mediaId"></result>
                <result column="media_fileoriginalname" property="mediaFileOriginalName"></result>
            </collection>
        </collection>
    </resultMap>

    <select id="selectList" parameterType="java.lang.String" resultMap="teachplanMap">
        SELECT
          a.id one_id,
          a.pname one_pname,
          b.id two_id,
          b.pname two_pname,
          c.id three_id,
          c.pname three_pname,
          teachplan_media.media_id,
          teachplan_media.media_fileoriginalname
        FROM
          teachplan a
          LEFT JOIN teachplan b
            ON a.id = b.parentid
          LEFT JOIN teachplan c
            ON b.id = c.parentid
          LEFT JOIN teachplan_media
            ON c.id = teachplan_media.teachplan_id
        WHERE a.parentid = '0'
        <!--#是一种占位符,大括号内部的数据如果存在(符合条件)就显示数据,不存在就不显示.  但是$的数据如果不存在会把$显示出来-->
        <if test="_parameter!=null and _parameter!=''">
            AND a.courseid = #{courseId}
        </if>

        ORDER BY a.orderby,
          b.orderby,
          c.orderby
    </select>
</mapper>